<nav class="nav-footer footer-hide" id="footer">
  <ul class="footer-list">
    <li class="cabecera"><label>COPYRIGHT</label><img class="cr-logo" src="../../../assets/icons/copyright-logo.png"><label class="final-text">2024 WHAT'S IN YOUR FRIDGE?</label></li>
    <div class="logos">
      <li class="tw">
        <a><img class="tw-logo" src="../../../assets/icons/tw-logo.png"></a>
      </li>
      <li class="ig">
        <a><img class="ig-logo" src="../../../assets/icons/ig-logo.png"></a>
      </li>
    </div>
  </ul>
</nav>
