<header class="menu-superior">
  <a class="home-button" href="/" routingLink><img src="../../../assets/logo_azul.png" alt="home" class="logo-inicial"></a>
  <nav>
    <ul class="lista-menu">
      <li class="mi-despensa">
        <a href="pantry"><button class="button-despensa">MI DESPENSA</button></a>
      </li>
      <li class="ingredientes">
        <a href="ingredients"><button class="button-ingredientes">INGREDIENTES</button></a>
      </li>
      <li class="recetas">
        <a href="recipes"><button class="button-recetas">RECETAS</button></a>
      </li>
      <li class="accede-cuenta">
        <a href="login" class="inicio"><label>INICIAR SESION</label></a>
        <!--label *ngIf="loggedUserId != 'null'  " (click)="goAccount()">MI CUENTA</label-->
      </li>
    </ul>
  </nav>
</header>
