<header class="menu-superior">
  <a class="home-button"><img src="../../../assets/logo_azul.png" alt="home" class="logo-inicial"></a>
  <nav>
    <ul class="lista-menu">
      <li class="mi-despensa">
        <button class="button-despensa">MI DESPENSA</button>
      </li>
      <li class="ingredientes">
        <button class="button-ingredientes">INGREDIENTES</button>
      </li>
      <li class="recetas">
        <button class="button-recetas">RECETAS</button>
      </li>
      <li class="accede-cuenta">
        <h3>CUENTA</h3>
      </li>
    </ul>
  </nav>
</header>
