<header class="menu-superior">
  <a class="home-button" [routerLink]="['/']"><img src="../../../assets/logo_azul.png" alt="home" class="logo-inicial"></a>
  <nav>
    <ul class="lista-menu">
      <li class="mi-despensa">
        <button class="button-despensa" [routerLink]="['/pantry']" *ngIf="loggedUserId != 'null'  ">MI DESPENSA</button>
      </li>
      <li class="ingredientes">
        <button class="button-ingredientes" [routerLink]="['ingredients']">INGREDIENTES</button>
      </li>
      <li class="recetas">
        <button class="button-recetas" [routerLink]="['/recipes']" >RECETAS</button>
      </li>
      <li class="accede-cuenta">
        <label [routerLink]="['/login']" *ngIf="loggedUserId == 'null' ">INICIAR SESION</label>
        <label (click)="goAccount()" *ngIf="loggedUserId != 'null'  ">MI CUENTA</label>
      </li>
    </ul>
  </nav>
</header>
