.forgot-paswd {
  margin-top: 15%;
  text-align: center;
}

.card-body {
  margin-top: 3%;
}

.correo {
    display: contents;
    width: max-content;
    border-color: black;
    border-radius: 10%;
    border-width: 10px;
}

.correo input {
  border-radius: 10px;
  border-color: #1468C5;
  height: 20px;
  width: 300px;
  margin-top: 10px;
}

.btn-reset {
  background: none;
  border-radius: 60px;
  border-color: #CF9800;
  color: #CF9800;
  width: max-content;
  font-size: 18px;
  font-weight: bold;
  margin-top: 50px;
}

.btn-reset:hover {
  cursor: pointer;
}
