<section class="forgot-password-section">
  <a href="login" class="btn-left-top"><i class="fas fa-arrow-left"></i></a>

  <div class="forgot-paswd">
    <h1>RECUPERAR CONTRASEÑA</h1>
    <img src="../../../assets/banner.png" class="banner">
    <div class="card-body">
      <h3 class="card-title">Introduzca su email por favor</h3>
      <div class="correo">
        <input type="email" class="form-control" formControl="userEmail" required />
      </div>
      <div class="reset">
        <button class="btn-reset">Restablecer contraseña</button>
        <!--<button class="btn-reset" (click)="onReset()">Restablecer contraseña</button>-->
      </div>
    </div>
  </div>

</section>
