<section>
  <a href="/" class="btn-left-top"><i class="fas fa-arrow-left"></i></a>

  <div class="login">
    <h1>INICIA SESION</h1>
    <img src="../../../assets/banner.png" class="banner">
    <div class="email">
      <label for="user-email"><h3>CORREO ELECTRONICO</h3></label>
      <div class="data">
        <input type="email" name="login" id="user-email" size="50"><!--[(ngModel)]="user.email"-->
      </div>
    </div>
    <div class="passwd">
      <label for="user-password"><h3>CONTRASEÑA</h3></label>
      <div class="data">
        <input type="password" name="login" id="user-password" size="50"><!--[(ngModel)]="user.password"-->
        <button class="btn-eye" (click)="visibilityChange()">
          <i id="visibility" class="fa fa-eye password-icon"></i>
        </button>
      </div>
    </div>
    <button class="submit" (click)="loginUser()">INICIAR SESION</button>
    <div class="recover-password">
      <label><a href="forgot-password">¿Has olvidado la contraseña?</a></label>
    </div>

    <div class="lines">
      <hr class="line"><span class="letra">O</span><hr class="line2">
    </div>

    <div class="google">
      <button class="google-button" (click)="loginGoogle()"><img src="assets/icons/google.png"/>
        <label class="texto-google">INICIAR SESION CON GOOGLE</label>
      </button>
    </div>

    <div class="registro">
      <label>¿Aún no te has unido? <a href="register">REGISTRATE</a></label>
    </div>
  </div>
</section>
