.register {
  margin-top: 11vw;
  text-align: center;
}

.banner {
  margin: 0 auto; /* Centra horizontalmente */
  height: 0.2vh;
  width: 50%;
}

h1 {
  font-size: 2rem;
}

.info {
  display: grid;
  grid-template-columns: (2, 1fr);
  grid-auto-rows: minmax(10px, auto);
  margin-top: 1%;
}

.info-user {
  grid-column: 1;
  width: fit-content;
  margin-left: 60%;
}

.info-usuario {
  grid-column: 2;
  width: fit-content;
  margin-left: 16%;
}

.data input, .data select {
  border-radius: 10px;
  border-color: #1468C5;
  height: 20px;
  width: max-content;
}

.create {
  background: none;
  border-radius: 60px;
  border-color: #CF9800;
  color: #CF9800;
  width: max-content;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
}

.create:hover {
  cursor: pointer;
}

/*
small{
  display: block;
  color: red;
  margin-right: 12%;
}
form {
  width: 60vw;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 5%;
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 50% 50%;
}

form .campo {
  border-radius: 10px;
  border: 3px solid #1468C5;
  height: 20px;
  width: 20rem;
  margin-top: 5%;
  margin-right: 3%;
  margin-bottom: 3%;
  height: 4vh;
  font-size: 1.3rem;
}
form .campo-mal{
  border-radius: 10px;
  border: 3px solid red;
  height: 20px;
  width: 20rem;
  margin-top: 5%;
  margin-right: 3%;
  margin-bottom: 3%;
  height: 4vh;
  font-size: 1.3rem;
}

#pais{
  border-width: 2px;
}

a{
  color: #CF9800;
  font-size: 1.3rem;
}
a:hover{
  cursor:pointer;
}
a p {
  margin-left: 30%;
}*/
