<section>
  <a id="btn-retroceder" mat-button class="btn-left-top" (click)="goBack()"><i class="fas fa-arrow-left"></i></a>

  <div class="update-password">
    <h1>CAMBIA TU CONTRASEÑA</h1>
    <img src="../../../assets/banner.png" class="banner">
    <div class="info">
      <div class="current-password"><!--[ngClass]="{'valid-feedback': isCurrentPasswordValid, 'invalid-feedback': !isCurrentPasswordValid && currentPassword}"-->
        <h3>CONTRASEÑA ACTUAL</h3>
        <div class="data">
          <input id="currentPasswd" class="campo" type="password" name="currentPassword"><!--[(ngModel)]="currentPassword"-->
          <button class="btn-eye" (click)="visibilityChange1()">
            <i id="visibility" class="fa fa-eye password-icon"></i><!--[ngClass]="{'fa-eye-slash': !showCurrentPassword}"-->
          </button>
        </div>
      </div>
      <div class="new-password"><!--[ngClass]="{ 'valid-feedback': passwordMatch && newPassword && repeatNewPassword, 'invalid-feedback': !passwordMatch && (newPassword || repeatNewPassword) }"-->
        <h3>CONTRASEÑA NUEVA</h3>
        <div class="data">
          <input id="newPasswd" class="campo" type="password" name="newPassword"><!--(input)="checkPasswords()" [(ngModel)]="newPassword"-->
          <button class="btn-eye" (click)="visibilityChange2()">
            <i id="visibility2" class="fa fa-eye password-icon"></i><!--[ngClass]="{'fa-eye-slash': !showNewPassword}"-->
          </button>
        </div>
      </div>
      <div class="repeat-new-password"><!--ngClass]="{ 'valid-feedback': passwordMatch && newPassword && repeatNewPassword, 'invalid-feedback': !passwordMatch && (newPassword || repeatNewPassword) }"-->
        <h3>REPETIR CONTRASEÑA NUEVA</h3>
        <div class="data">
          <input id="repeatNewPasswd" class="campo" type="password" name="repeatNewPassword"><!--(input)="checkPasswords()" [(ngModel)]="repeatNewPassword"-->
          <button class="btn-eye" (click)="visibilityChange3()">
            <i id="visibility3" class="fa fa-eye password-icon"></i><!--[ngClass]="{'fa-eye-slash': !showRepeatNewPassword}"-->
          </button>
        </div>
      </div>
    </div>

    <div class="botones">
      <button class="update">ACTUALIZAR</button><!--(click)="onSubmit"-->
      <button class="cancel" [routerLink]="['/account']">CANCELAR</button>
    </div>
  </div>
</section>
