<a id="btn-retroceder" mat-button class="btn-left-top" (click)="goBack()"><i class="fas fa-arrow-left"></i></a>

<div class="update-password">

  <h1>CAMBIAR CONTRASEÑA</h1>
  <img src="../../../assets/banner.png" class="banner">

  <div class="info">
    <div class="current-password">
      <h3>CONTRASEÑA ACTUAL</h3>
      <div class="data">
        <input id="currentPasswd" class="campo" type="password" name="currentPassword">
        <button class="btn-eye" (click)="visibilityChange1()">
          <i id="visibility" class="fa fa-eye password-icon"></i>
        </button>

      </div>
    </div>
    <div class="new-password">
      <h3>CONTRASEÑA NUEVA</h3>
      <div class="data">
        <input id="newPasswd" class="campo" type="password" name="newPassword">
        <button class="btn-eye" (click)="visibilityChange2()">
          <i id="visibility2" class="fa fa-eye password-icon"></i>
        </button>
      </div>
    </div>
    <div class="repeat-new-password">
      <h3>REPETIR CONTRASEÑA NUEVA</h3>
      <div class="data">
        <input id="repeatNewPasswd" class="campo" type="password" name="repeatNewPassword">
        <button class="btn-eye" (click)="visibilityChange3()">
          <i id="visibility3" class="fa fa-eye password-icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="botones">
    <button class="update">ACTUALIZAR</button>
    <!--<button class="update" (click)="onSubmit()">ACTUALIZAR</button>-->
    <a href="account"><button class="cancel">CANCELAR</button></a>
  </div>

</div>
