.update-password {
  margin-top: 15%;
  text-align: center;
}

.info {
  margin-top: 3%;
}

.data {
    display: contents;
    width: max-content;
    border-color: black;
    border-radius: 10%;
    border-width: 10px;
}

.data input {
    border-radius: 10px;
    border-color: #1468C5;
    height: 20px;
    width: max-content;
    padding-right: 30px;
}

.data label {
    display: block;
    margin-top: 5px;
}

.cancel {
    background: none;
    border-radius: 60px;
    border-color: #CF9800;
    color: #CF9800;
    width: max-content;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 20px;
}

.update {
    background: none;
    border-radius: 60px;
    border-color: #009ECF;
    color: #009ECF;
    width: max-content;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.cancel:hover, .update:hover, #visibility:hover, #visibility2:hover, #visibility3:hover {
    cursor: pointer;
}

.valid-feedback .campo {
    border-color: green;
}

.invalid-feedback .campo {
    border-color: red;
}

.btn-eye {
    background: none ;
    border: none;
    position: absolute;
    right: 45%;
    margin-top: 0.2%;
}

.botones {
  margin-top: 1%;
}
